h1 { href="/posts/389119";
}




* {
    color:rgb(94, 94, 114)
}
.blue-text {
    color: blue;
}
#fat-and-blue {
     color:cornflowerblue
     font-weight: bold;
     font-size: 400px.
}
.mars-section {  
}


